@model IEnumerable<Biblioteca.Models.Libro>


@{
    ViewData["Title"] = "Index";
}

<h1>Catalogo</h1>

<p>
    <a asp-action="Create">Ingresar nuevo libro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tapa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantPaginas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VencimientoEntrega)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            
                {
        <tr> 
            <td>
                <img src="@Url.Content(item.Tapa)" alt="Image" width="200" height="200" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantPaginas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VencimientoEntrega)
            </td>
            <td>
                <a asp-action="ReservarLibro" asp-route-id="@item.Id">Reservar</a> |
            </td>
        </tr>
                }
            

    </tbody>
</table>
